version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/DockerFile.frontend
      target: dev
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:4000
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: ./backend/DockerFile.backend
      target: dev
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      - MONGO_URI=${MONGO_URI}
      - PORT=${PORT}
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100

    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mern-db:/data/db

volumes:
  mern-db:
